[id='app'] {
  .el-radio-group {
    .el-radio-button {
      &.is-active {
        .el-radio-button__inner {
          background-color: var(--el-color-primary-light-9);
          color: var(--el-color-primary);
        }
      }
    }
    &.warning-radio {
      .el-radio-button {
        --warning-item-color: var(--el-color-primary);
        & + .el-radio-button {
          margin-left: 12px;
        }
        .el-radio-button__inner {
          padding: 6px 20px;
          border: var(--el-border);
          border-color: var(--warning-item-color);
          border-radius: var(--el-border-radius-base);
          box-shadow: none;
          --el-button-text-color: var(--warning-item-color);
          &:hover {
            color: var(--el-button-text-color);
          }
        }
        &.is-active {
          .el-radio-button__inner {
            background-color: var(--warning-item-color);
            color: #ffffff;
          }
        }
      }
    }
    &.button-radio {
      padding: 3px;
      background-color: #fff;
      border: 1px solid #ececec;
      border-radius: 10px;
      .el-radio-button {
        .el-radio-button__inner {
          display: inline-flex;
          align-items: center;
          font-size: 14px;
          font-family: 'AlibabaPuHuiTi_2_65';
          padding: 3px 12px;
          border: var(--el-border);
          border-color: transparent;
          border-radius: 8px;
          box-shadow: none;
          transition: none;
          --el-button-text-color: #4f5967;
          &:hover {
            color: #4f5967;
          }
        }
        &.is-active {
          .el-radio-button__inner {
            background-image: linear-gradient(90deg, #578af1, #719ef8);
            color: #ffffff;
          }
        }
      }

      &.is-white {
        padding: 2px;
        background-color: #f1f5f9;
        border: 1px solid #f1f5f9;
        .el-radio-button {
          .el-radio-button__inner {
            --el-button-text-color: #62748e;
            background-color: transparent;
            &:hover {
              color: #62748e;
            }
          }
          &.is-active {
            .el-radio-button__inner {
              color: #1d293d !important;
              background-image: none;
              background: #fff;
              box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1) !important;
            }
          }
        }
      }
    }
    &.gap-button {
      --el-border-color: #d3ddeb;
      --el-color-primary: #578af1;
      --el-button-text-color: #4e5866;
      --el-color-primary-light-9: rgba(87, 138, 241, 0.16);
      .el-radio-button {
        & + .el-radio-button {
          padding-left: 8px;
        }
        &:nth-child(n + 2) {
          .el-radio-button__inner {
            border-left: 1px solid var(--el-border-color);
          }
        }
        &.is-active {
          --el-border-color: var(--el-color-primary);
          .el-radio-button__inner {
            box-shadow: none;
            font-family: 'AlibabaPuHuiTi_2_65';
          }
        }
        .el-radio-button__inner {
          height: 32px;
          border-radius: 4px;
          padding: 7px 18px;
          display: flex;
          align-items: center;
          font-size: 16px;
          font-family: 'AlibabaPuHuiTi_2_55';
        }
      }
      &.fill-gap-button {
        --el-color-primary-light-9: var(--el-color-primary);
        .el-radio-button.is-active {
          .el-radio-button__inner {
            color: #ffffff;
          }
        }
      }
    }
  }
}
